<!-- we tell the form about our group -->
<div class="container">
  <form [formGroup]="signUpForm" (ngSubmit)="onSubmit()">
    <div class="mb-3">
      <label class="form-label">Email:</label>
      <input type="email" class="form-control" formControlName="email" />
    </div>

    <div class="mb-3">
      <label class="form-label">Password:</label>
      <input type="password" class="form-control" formControlName="password" />
    </div>
    <section formGroupName="address">
      <div class="col-12">
        <label for="inputStreet" class="form-label">Street</label>
        <input
          formControlName="street"
          type="text"
          class="form-control"
          id="inputStreet"
          placeholder="1234 Main St"
        />
      </div>

      <div class="col-md-6">
        <label for="inputCity" class="form-label">City</label>
        <input
          type="text"
          class="form-control"
          id="inputCity"
          formControlName="city"
        />
      </div>
      <div class="col-md-4">
        <label for="inputState" class="form-label">State</label>
        <select id="inputState" class="form-select" formControlName="state">
          <option value="" disabled>Choose a state</option>
          <option *ngFor="let state of stateOptions">{{ state }}</option>
        </select>
      </div>
      <div class="col-md-2">
        <label for="inputZip" class="form-label">Zip</label>
        <input
          type="text"
          class="form-control"
          id="inputZip"
          formControlName="zip"
        />
      </div>
    </section>
    <button class="btn btn-success mt-2" type="submit">Save</button>
    <button class="btn btn-warning mt-2" (click)="clear()">Clear</button>
    <button class="btn btn-primary mt-2" (click)="autoFillAddress()">
      Auto Fill Address
    </button>
  </form>
</div>
